{% extends 'base.html' %}

{% block title %}
Add New Note
{% endblock %}

{% block content %}

<div class="p-5 pt-3 pb-1 mb-1 bg-body-tertiary bg-light rounded-3" bis_skin_checked="1">
    <div class="container-fluid py-5" bis_skin_checked="1">
        <a value="Go Back" class="btn btn-secondary mb-3" onClick="javascript:history.go(-1);">← Go Back</a>
        <h1 class="display-5 fw-bold">Add a new Note</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'forms_template.html' with form=form %}
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>
{% endblock %}